.cards {
  /*box-sizing: content-box;*/
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 920px;
  list-style: none;
  margin: 0;
  padding: 0;
  /*border: rgb(245, 153, 14) 1px dashed;*/
}
