.header__link {
  color: #2f80ed;
  text-decoration: none;
  opacity: 1;
  -webkit-transition: opacity .5s linear;
  -o-transition: opacity .5s linear;
  transition: opacity .5s linear;
}

.header__link:hover {
  opacity: .6;
}

.header__link:active {
  opacity: .9;
  color: #000;
}
