.cards__item {
  width: 240px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -moz-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  text-align: center;

  /*border: rgb(15, 194, 60) 1px dashed;*/
}

.cards__item:not(:nth-of-type(3n)) {
  margin-right: 100px;
}

