.two-columns__main-text {
  width: 80%;
  min-width: 784px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  /*border: rgb(30, 255, 86) 1px dashed;*/
}
